.mortgage-component {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  width: content;
}

.single-mortgage .line-item {
  justify-content: center;
  margin: 15px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 15vw;
}

.single-mortgage .line-item > * {
  width: 35vw;
}

.mortgage-data {
  margin: 5px;
  width: 38vw;
}
.data {
  text-align: left;
}
