.page-container {
  margin: 64px 0 0 200px;
  width: -webkit-calc(100vw - 200px);
}
.header {
  width: 100vw;
  height: 64px;
  background-color: rgb(0, 188, 212);
  position: fixed;
  margin: -64px 0 0 0;
    z-index: 1300;
    color: white;
    text-align: center;
    line-height: 64px;
    font-size: 20px;
}