.property-component {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.mortgage-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.property-content{
  width: 25%;
  display: flex;
  flex-wrap: wrap;
}

.property-config {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.property-config .line-item {
  justify-content: center;
  margin: 5px 0;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.property-config .line-item > * {
  width: 100%;
}

.line-data {
  font-weight: 900;
}

.property-dashboard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  width: 70%;
}

.stat {
  clear: both;
}

.major-stat {
  width: 100%;
}

.minor-stat {
  min-width: 500px;
  width: 50%;
}
